data/rules.schematron

<schema xmlns="http://purl.oclc.org/dsdl/schematron" >
  <pattern>
    <title>Ensure that each internal link has a matching keyword</title>
    <rule context="//property[@type and @infoset]/content">
      <let name="infoset" value="parent::property/@infoset"/>
      <let name="type" value="parent::property/@type"/>
      <assert test="/infosets/infoset[@technology=$infoset]/item[@type=$type and @name=current()]"><value-of select="current" /> is referenced from <value-of select="ancestor::item/@name"/> but is not defined in the infoset.</assert>
    </rule>
  </pattern>
</schema>
