data/schema.rnc

start = Infosets
Infosets = element infosets {
  element infoset {
    attribute technology { text },
    element item {
       Types,
       attribute name { text },
       element context {
          attribute type { "element" }?,
	  element items {
	     element item  { 
                attribute name { text },
		attribute link { text }?
             }*
	  }?,
          element property {
	     Types?,
             attribute name { "Pattern" | "name" | "description" | "Internationalization" | "Accessibility techniques" | "QA Tip" | "Mobile considerations" | "Elements" | "content" | "Allowed properties" | "Allowed children" | "parameters" | "returns" | "Example" | "Syntax" | "values" | "inherited" | "media" | "animatable" | "Specification" | "attributes" | "percentage" | "applies" },
	     attribute infoset { text }?,
	     attribute link { text }?,
	     attribute list { "inline" | "block" }?,
	     element content {
	         attribute xml:lang { text}?,
	         attribute link { text}?,
	         text
	     }*
          }+
       }+
    }+
  }
}
Types = attribute type { "element" | "attribute" | "property" | "selector" | "at-rule" | "function" }